<!DOCTYPE html>

<html>

    <head>
        <title>404</title>
        <link rel="stylesheet" href="/CSS/style.css">
    </head>      
    <body>
        <div class="main-content">
            {{>headers}}
            <p>{{errorMessage}}</p>
        </div>
       
        {{>footer}}
    </body>
</html>