<!DOCTYPE html>

<html>
    <head><link rel="stylesheet" href="/CSS/style.css"></head>
    
    <body>
        <div class="main-content">
                {{>headers}}
                <p>{{helptext}}</p> 
        </div>
         
        {{>footer}} 
    </body>
</html>